<div class="ui large inverted menu">
  <div class="ui container">
    <%= link_to "Chatroom", root_path, class: "item" %>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Conta <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">Sair</a>
          <%= link_to "Entrar", login_path, class: "item" %>
          <a class="item">Inscrever-se</a>
        </div>
      </div>
      <div class="item">
        <div class="ui primary button">Inscreva-se</div>
      </div>
    </div>
  </div>
</div>